.jumbotron{
    background-image: url(../images/bg1.cms);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron h1{
      text-align: center;
      font-size: 3800;
      font-weight: bolder;
      color: darkred;
}
#foot{
    background-color: darkred;

}
