body{
    background-image: url(../images/veggie.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron{
    background-image: url(../images/bg1.cms);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron h1{
      text-align: center;
      font-size: 3800;
      font-weight: bolder;
      color: darkred;
}
#foot{
    background-color: darkred;

}
.card-body{
    height: 900px;
    color: white;
    font-size: large;
    font-weight: bolder;
    
}
.card-body ul li{
    color: black;
    }
#totals{
    background-image: url(../images/total.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.card-title{
    text-align: center;
    font-size: 800;
    font-weight: 700;
    color: darkred;
}
.checkbox-inline{
    justify-content: space-evenly;
    align-items: center;
}
.group{
    font-weight: 700;
    font-size: larger;
    border-bottom: 3px solid beige;
}#totals{
    color: green;
}

